* {
    outline: 0px solid red;
}

body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

#container {
    margin: 20px auto;
    width: 700px;
    height: 700px;
    border: 10px solid black;
    position: relative;
    z-index: 2;
}

#player {
    width: 50px;
    height: 50px;
    position: relative;
}

#enemy-area {
    position: absolute;
    top: 0px;
    width: 700px;
    height: 700px;
    outline: 5px solid red;

}

.enemy {
    height: 50px;
    width: 50px;
    position: relative;
    padding: 0px;
}

#players-list {
    margin: 10px auto;
    width: 700px;
    min-height: 100px;
    border: 1px solid black;
    position: relative;
}
  
.reload {
    position: absolute;
    top: 20px;
    font-family: sans-serif;
    font-size: 7.5px;
    font-weight: 1000;
    color: white;
    z-index: 3;
}

.loader {
    border: 10px solid rgba(0, 0, 0, 0.486);
    border-top: 10px solid #aedb34;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 3;
}
  

.health-bar {
    width: 200px;
    height: 20px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}

.health-level {
    height: 100%;
    background-color: #00ff00;
}
